<br />
<div class="container">
  <div class="row">
    <div class="card">
      <div class="table-col card-body">
        <h3>Log de Auditoria</h3>
        <br /><br />

        <form action="/url" method="post" class="border border-1 p-4">
          <!--ajustar action(aparenta ser a url que ser enviado os dado, verificar se é necessario), method deve ser o metodo http de envio de dados, get, etc -->

          <!-- Search --><!-- revisar -->
          <div class="d-flex justify-content-center">
            <div class="input-group rounded w-50">
              <input
                type="search"
                class="form-control rounded"
                placeholder="Produto    |   Email"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-evenly mt-4">
            <!-- margin provisoria-->

            <div>
              <!-- Role -->
              <div class="form-check">
                <input
                  mdbRadio
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                  [checked]="true"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  TODOS
                </label>
              </div>
              <div class="form-check">
                <input
                  mdbRadio
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault2"
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  ADMIN
                </label>
              </div>
              <div class="form-check">
                <input
                  mdbRadio
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault3"
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  USUARIO
                </label>
              </div>
            </div>

            <!-- Calendario -->
            <div>
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>Data</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Data de inicio" />
                  <input matEndDate placeholder="Data de termino" />
                </mat-date-range-input>
                <!-- <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> -->
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div class="form-check form-check-inline">
              <input
                mdbCheckbox
                class="form-check-input"
                type="radio"
                id="CheckboxTodos"
                value="option3"
              />
              <label class="form-check-label" for="CheckboxTodos">TODOS</label>
            </div>
          </div>

          <div>
            <ul class="navbar-nav flex-row">
              <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
                <a
                  class="nav-link dropdown-toggle hidden-arrow"
                  id="navbarDropdownMenuLink"
                  role="button"
                  mdbDropdownToggle
                  aria-expanded="false"
                >
                  <i class="fas fa-chevron-circle-down fa-lg"></i>
                </a>
                <ul
                  mdbDropdownMenu
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item" href="#">Some news</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Another news</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </form>

        <br /><br /><br />

        <table border="1" class="table table-striped">
          <thead>
            <tr>
              <th>Data hora</th>
              <th>Role</th>
              <th>Email</th>
              <th>Operação</th>
              <th>Entidade</th>
              <th>Produto</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            @for (item of logAuditoria; track $index) {
            <tr>
              <td>{{ item.timestamp }}</td>
              <td>'ADMINtest-front'</td>
              <!-- <td>{{ item.role }}</td> -->
              @if(item.emailUsuario){
              <td>{{ item.emailUsuario }}</td>
              } @else {
              <td>---</td>
              }
              <td>{{ item.acao }}</td>
              <td>{{ item.entity }}</td>
              <td>"TV 32p. test-fron"</td>
              <!-- @if(item.produto){
              <td>{{ item.produto }}</td>
              } @else {
              <td>---</td> } -->
              @if(item.detalhes){
              <td>{{ item.detalhes }}</td>
              } @else {
              <td>---</td>
              }
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
