
.row{
    display: flex;
    margin-top: 20vh;
    justify-content: space-around;
 }
 
 .produto{
     margin-top: 25px;
     margin-bottom: -10px;
 }   
 
 .info_pedido{
     display: flex;
     justify-content: space-between;
     padding: 10px;
 }
 
 .imagem{
     max-width: 140px;
 }
 