<div class="container">

        <div class="row">

                <div class="col-lg-4"></div>

                <div class="col-lg-4">


                        <div class="card">
                                <div class="card-body bg-black-secundary">
                                        <h3 class="card-title text-white fw-bolder">Resumo do Pedido</h3>

                                        <div>
                                                <div class="text-white produto">
                                                        <h5 class="fw-bolder">Produtos ()</h5>
                                                </div>

                                                <div class="info_pedido">
                                                        <h5 class="text-white fw-bolder">Subtotal:</h5>
                                                        <h5 class="text-green-primary fw-bolder">R$ 3.048,77</h5>
                                                </div>

                                                <div class="info_pedido">
                                                        <h5 class="text-white fw-bolder">Frete:</h5>
                                                        <h5 class="text-green-primary fw-bolder">R$ 0</h5>
                                                </div>

                                                <div class="info_pedido">
                                                        <h5 class="text-white fw-bolder">Total:</h5>
                                                        <h5 class="text-green-primary fw-bolder">R$ 3,048,77</h5>
                                                </div>
                                        </div>

                                        <div class="text-white ">
                                                <h4 class="fw-bolder"> Finalizar Compra </h4>
                                                <h5 class="fw-bolder"> Chave Pix:</h5>
                                                <div class="d-flex justify-content-center       ">
                                                        <img class="imagem"
                                                                src="../../../assets/img/qr code example 1.jpg"
                                                                alt=" QR CODE">
                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>

                <div class="col-lg-4"></div>

 
                <div class="col-lg-4"></div>
        </div>
</div>