
<div class="text-white bg-black-secundary card" style="max-width: 900px;">
  <div class="row">
  
      <img src="../../../../../assets/img/IMG_Card_Carrinho_GreenLine.jpg"
        alt="Imagem Pc" class="img-fluid rounded-start imagem"/>
  

    <div class=" col-md-8">
      <div class="card-body">
        <div class="esquerda_card">
          <h5 class="card-title">PC Gamer Completo</h5>

          <div class="form-outline text_card_esquerda">
            <input type="number" id="typeNumber" class="form-control" style="max-width: 300px; color: white;" />
            <label class="text-white form-label" for="typeNumber">Quantidade:</label>
          </div>
        </div>

        <div class="direita_card">
          <h4 class="text-green-primary preco">R$ 3.048,77</h4>
          <button type="button" class="border-color-green text-white btn btn-outline- botao" mdbRipple>Remover</button>
        </div>
      </div>

    </div>

  </div>
</div>