
<div class="text-white bg-black-secundary card" style="max-width: 800px;">
  <div class="row">
    
    @for (carrinho of lista; track $index) {
      <img src="../../../../../assets/img/IMG_Card_Carrinho_GreenLine.jpg"
        alt="Imagem Pc" class="img-fluid rounded-start imagem"/>
  

    <div class=" col-md-8">
      <div class="card-body">
        <div class="esquerda_card">
          <h5 class="card-title">{{carrinho.produto}}</h5>

          <div class="form-outline text_card_esquerda">
            <input type="number" id="typeNumber" class="form-control" style="max-width: 300px; color: white;" />
            <label class="text-white form-label" for="typeNumber">Quantidade: {{carrinho.quantProd}}</label>
          </div>
        </div>

        <div class="direita_card">
          <h4 class="text-green-primary preco">{{carrinho.valor_unitario}}</h4>
          <button type="button" class="border-color-green text-white btn btn-outline- botao" mdbRipple (click)="deleteById(carrinho)">Remover</button>
        </div>
      </div>

    </div>
  }
  </div>
</div>