
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12 centralizar topo">
      <div class="card">

        <div class="card-body">
          <h3>Cadastro de produtos</h3>
          <br>
          <mdb-form-control>
            <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="produto.nomeProduto" />
            <label mdbLabel class="form-label" for="usuario">Nome</label>
          </mdb-form-control>
          <br>
          <mdb-form-control>
            <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="produto.descricaoProduto" />
            <label mdbLabel class="form-label" for="usuario">Descrição</label>
          </mdb-form-control>
          <br>
          <mdb-form-control>
            <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="produto.valorProduto" />
            <label mdbLabel class="form-label" for="usuario">Valor Unitario</label>
          </mdb-form-control>
          <br>
          <br>

          @if(produto.fornecedor == null) {
            <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="buscarFornecedor()">
              Buscar Fornecedor
            </button>
          }@else {
            <span>Fornecedor: {{produto.fornecedor.nomeFornecedor}}</span>

            <button type="button" class="btn btn-warning btn-rounded" mdbRipple (click)="buscarFornecedor()">
              Trocar Fornecedor
            </button>
          }

          <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">
            Salvar
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #modalFornecedorList>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro Produto</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
  
    <app-fornecedorlist [esconderBotoes]="true" (retorno)="retornoFornecedor($event)"></app-fornecedorlist>
  
  </div>
  
  </ng-template>