<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-primary" href="#">Dashboard</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        mdbCollapse
        #basicNav="mdbCollapse"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Vendas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Fornecedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-danger" href="#">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
