.direita{
    text-align: right;
}
.btn-primary {
    background-color: #52FF00;
    border-color: --green-primary;
}
.card-body {
    background-color: #212224;
}

.table {
    background-color: #191919;
    color: white;
}
.table th, .table td {
    color: white; /* Define a cor do texto nas células da tabela */
}