<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    
                    <table border="1" class="table table-striped">

                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Endereço</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        
                        @for (Cliente of lista; track $index) {
                        <tr>
                            <td>{{Cliente.nomeCliente}}</td>
                            <td>{{Cliente.telefoneCliente}}</td>
                            <td>{{Cliente.enderecoCliente}}</td>
                            <td class="direita">
                                <button type="button" class="btn btn-primary" mdbRipple (click)="delete(Cliente)">Deletar
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>

                </table>

                </div>
                
            </div>

        </div>
    </div>
</div>