<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="carousel-image" style="background-image: url('../../../assets/img/carroussel-home_1.png')">
      <div class="carousel-caption">
        <h1>Bem Vindo a <span class="highlight">Green Line</span>.</h1>
        <p>Produtos tech de qualidade.</p>
        <button type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark" onclick="location.href='#'">Explorar Loja</button>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="carousel-image" style="background-image: url('../../../assets/img/carroussel-home_2.png')">
      <div class="carousel-caption">
        <h1>Bem Vindo a <span class="highlight">Green Line</span>.</h1>
        <p>Produtos tech de qualidade.</p>
        <button type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark" onclick="location.href='#'">Explorar Loja</button>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="carousel-image" style="background-image: url('../../../assets/img/carroussel-home_3.png')">
      <div class="carousel-caption">
        <h1>Bem Vindo a <span class="highlight">Green Line</span>.</h1>
        <p>Produtos tech de qualidade.</p>
        <button type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark" onclick="location.href='#'">Explorar Loja</button>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>