// .row {
//     display: flex;
//     justify-content: space-between;
// }

// .imagem {
//     margin-right: -50px;
//     max-width: 140px;
//     max-height: 150px;
//     padding: 20px;
//     border-radius: 10px;
// }

// .card-body {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     border-radius: 10px;
// }

// .preco {
//     margin-bottom: 30px;
// }

// .botao {
//     padding: 10px 35px;
//     margin-bottom: 5px;
// }

// .esquerda_card {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     margin-top: -10px;
// }

// .container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     font-family: Arial, sans-serif;
// }

// .botaoID {

//     border: none;
//     padding: 10px 20px;
//     cursor: pointer;
//     font-size: 20px;
//     transition: background-color 0.3s ease;
//     margin: 0 10px;
// }


.card-body {
    max-width: 1200px;
}

/* Remove as setas no Chrome, Safari, Edge e Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setas no Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
