<!-- <div>
    <div>
        <div class="card border border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Vendas</div>
            <div class="card-body text-dark">
            <h5 class="card-title">Vendas no mes:</h5>
            <p class="card-text">500</p>
            </div>
        </div>
        <br>
        <div class="card border border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Valor vendas</div>
            <div class="card-body text-dark">
            <h5 class="card-title">total vendas no mes:</h5>
            <p class="card-text">5000.99 R$</p>
            </div>
        </div>
    </div>
    <div class="card border border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Clientes</div>
        <div class="card-body text-dark">
        <h5 class="card-title">Registros ativos:</h5>
        <p class="card-text">2451</p>
        </div>
    </div>
</div> -->
<div class="d-flex align-items-center justify-content-center m-5">
    <img src="../../../../../assets/img/Greenline-logo-sm.png" alt="logo-greenline">
</div>